<html>
   <body>
      <form action = "http://localhost:5000/create_user" method = "post">
         <h1>REGISTER</h1>
         <p style=color:black>Ingrese el Nombre:
         <b style=color:red>*</b><input type = "text" name = "nm" required/></p>
         <p style=color:black>Ingrese el apellido:
         <b style=color:red>*</b><input type = "text" name = "ln" required></p>
         <p><div id="buttons">
            <input type = "submit" class="f" name = "button" value = "Ingresar"/>
            <input type="submit" class="f" name= "button" value= "Regresar"/>
            <input type = "reset" class="f" name = "button" value = "Borrar"/>
            <div class="clr"></div></p>
         </div>
      </form>   
   </body>
</html>