<body>
    <form action="http://localhost:5000/inicio" method = "post">  
        <h1>INICIO</h1> 
        {% if msg %}
         <p class=error><strong>Message:</strong> {{ msg }}
         {% endif %}
        <p><div id="buttons">
            <input type = "submit" class="f" name = "button" value = "Nueva Reserva"/>
            <input type="submit" class="f" name= "button" value= "Ya Tengo Reserva"/>
            <div class="clr"></div></p>
        <ul>
            <li><a href="https://www.google.com.co/">Salir</a></li>
        </ul>
    </form>
</body>